html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  font-size: 1.6rem;
  max-width: 102rem;
  margin: auto;
  font-family: 'Lato', sans-serif;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 8.9rem;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
  color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1020px;
  z-index: 10000;
  transition: all .2s;
}
.header__heading {
  text-transform: uppercase;
  font-size: 2.5rem;
  line-height: 0.632rem;
  margin-left: 4rem;
  font-weight: 900;
  margin-top: 2rem;
}
.header-navigation {
  margin-top: 1rem;
  margin-right: 3.9rem;
}
.header-navigation__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
.header-navigation__element {
  margin-left: 2.8rem;
  color: #666d89;
}
.header-navigation__element:first-child {
  list-style: none;
}
.header-navigation__element--link,
.header-navigation__element--link:link,
.header-navigation__element--link:link:visited{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 0.632rem;
  font-weight: 700;
}
.header-navigation__element--link:hover,
.header-navigation__element--link:active {
  cursor: pointer;
  text-decoration: underline;
}
.header-navigation__element--active {
  color: #f06c64;
}
#home {
  margin-right: 0.1rem;
}
#services {
  margin-right: 0.1rem;
}
#portfolio {
  margin-right: 0.1rem;
}
.section-slider {
  padding-top: 5.5rem;
  height: 59.4rem;
  background-color: #f06c64;
  margin-bottom: 0;
}
.section-slider__container {
  height: inherit;
  position: relative;
  overflow: hidden;
  border-bottom: 6px solid #ea676b;
}
#section-slider__slide-1 {
  position: relative;
  width: 100%;
}
#section-slider__slide-2 {
  position: relative;
  width: 100%;
}
#section-slider__vertical-phone--housing {
  position: absolute;
  top: 5.3rem;
  left: 11.2rem;
  cursor: pointer;
}
#section-slider__vertical-phone--screen {
  position: absolute;
  top: 11.5rem;
  left: 12.3rem;
}
#section-slider__horizontal-phone--housing {
  position: absolute;
  top: 17.2rem;
  right: 11rem;
  cursor: pointer;
}
#section-slider__horizontal-phone--screen {
  position: absolute;
  top: 18.25rem;
  right: 19.75rem;
}
.section-slider__arrows {
  position: relative;
  top: -50%;
  width: 1020px;
}
.section-slider__arrow--left {
  position: absolute;
  z-index: 9999;
  cursor: pointer;
  top: -2rem;
  left: 4rem;
}
.section-slider__arrow--right {
  position: absolute;
  z-index: 9999;
  cursor: pointer;
  top: -2rem;
  right: 4rem;
}
.section-slider__phone--screen--hidden {
  display: none;
}
.section-slider__slide {
  display: none;
  animation: 1s ease-in-out;
}
.section-slider__slide .section-slider__slide--active {
  display: block;
}
.section-slider__slide--active,
.section-slider__slide--next {
    display: block;
}
.section-slider__slide--next {
    position: absolute;
    top: 0;
    width: 100%;
}
.to-left {
    animation-name: left;
}

.to-right {
    animation-name: right;
    animation-direction: reverse;
}

.from-left {
    animation-name: left;
    animation-direction: reverse;
}

.from-right {
    animation-name: right;
}
@keyframes left {
    0% {
        left: 0;
    }
    100% {
        left: -100%;
    }
}

@keyframes right {
    0% {
        left: 100%;
    }
    100% {
        left: 0;
    }
}
.section-our-services {
  height: 49.913rem;
  background-color: #f2f2f2;
  padding: 5rem 4rem;
  border-bottom: 6px solid #ffffff;
  box-sizing: border-box;
}
.section-our-services__heading {
  font-size: 3rem;
  line-height: 1.786rem;
  color: #666d89;
  font-weight: 900;
  margin-top: 2.2rem;
}
.section-our-services__paragraph {
  font-size: 1.8rem;
  line-height: 3rem;
  color: #767e9e;
  font-weight: 300;
  text-align: justify;
  word-spacing: -1px;
  margin-bottom: 4.8rem;
}
.section-our-services__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section-our-services__content--row {
  display: flex;
  flex-direction: row;
  min-width: 0%;
}
.section-our-services__content--column {
  display: flex;
  flex-direction: column;
  min-width: 0%;
}
.section-our-services__content--element {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.8rem;
}
.section-our-services__content--element--2 {
  margin-left: 3rem;
}
.section-our-services__content--element--3 {
  margin-left: 2.5rem;
}
.section-our-services__content--element--4 {
  margin-left: 1.4rem;
}
.section-our-services__content--element--5 {
  margin-left: -4.5rem;
}
.section-our-services__content--element img {
  height: 5.9rem;
  margin-top: 0.5rem;
  margin-right: 2.1rem;
}
.section-our-services__content--heading {
  font-size: 1.8rem;
  line-height: 1.786rem;
  font-weight: 900;
  color: #666d89;
  margin-top: 4px;
  margin-bottom: -2px;
  overflow: hidden;
  word-spacing: -1px;
}
.section-our-services__content--paragraph {
  font-size: 1.2rem;
  line-height: 2.156rem;
  color: #767e9e;
  text-align: justify;
  word-spacing: -1px;
  overflow: hidden;
}
.section-our-services__content--paragraph--1 {
  width: 98%;
}
.section-our-services__content--paragraph--2 {
  width: 92%;
}
.section-our-services__content--paragraph--3 {
  width: 100%;
}
.section-our-services__content--paragraph--4 {
  width: 77%;
}
span {
  color: #f06c64;
}
.section-portfolio {
  height: 86.9rem;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
  padding: 5rem 4rem;
  box-sizing: border-box;
}
.section-portfolio__heading {
  font-size: 3rem;
  line-height: 1.786rem;
  font-weight: 900;
  color: #666d89;
}
.section-portfolio__paragraph {
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: 300;
  color: #767e9e;
  word-spacing: -1px;
}
.section-portfolio__navigation {
  margin-top: -1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1.9rem;
  margin-left: 0.1rem;
}
.section-portfolio__navigation--element {
  font-size: 1.2rem;
  line-height: 2.156rem;
  color: #767e9e;
  padding: 0 0.6rem;
  border: 1px solid #666d89;
  border-radius: 5px;
  margin-right: 1rem;
  cursor: pointer;
  transition: all 0.5s;
}
.section-portfolio__navigation--element:hover {
  color: #c5c5c5;
  border: 1px solid #c5c5c5;
}
.section-portfolio__navigation--element--1 {
  padding: 0 0.65rem;
}
.section-portfolio__navigation--element--4 {
  padding: 0 0.5rem;
}
.section-portfolio__navigation--element-active {
  color: #c5c5c5;
  border: 1px solid #c5c5c5;
}
.section-portfolio__content {
  display: flex;
  flex-direction: column;
}
.section-portfolio__content--row {
  display: flex;
  flex-direction: row;
}
.section-portfolio__content--element {
  height: 18.7rem;
  width: 22rem;
  margin-bottom: 2rem;
  cursor: pointer;
  margin-right: 2rem;
}
.section-about-us {
  height: 73.5rem;
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
  padding: 5rem 4rem;
  box-sizing: border-box;
}
.section-about-us__heading {
  font-size: 3rem;
  line-height: 1.786rem;
  font-weight: 900;
  color: #666d89;
  margin-top: 2.2rem;
}
.section-about-us__paragraph {
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: 300;
  color: #767e9e;
  text-align: justify;
  word-spacing: -2px;
  margin-bottom: 4.5rem;
}
.section-about-us__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.section-about-us__content--element {
  display: flex;
  flex-direction: column;
  width: 30rem;
}
.section-about-us__content--element--2 {
  margin-right: 3px;
}
.section-about-us__content--image {
  height: 30rem;
  width: 30rem;
}
.section-about-us__content--heading {
  font-size: 1.8rem;
  line-height: 1.786rem;
  font-weight: 900;
  color: #666d89;
  margin-bottom: -0.3rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.section-about-us__content--paragraph {
  font-size: 1.2rem;
  line-height: 2.156rem;
  color: #767e9e;
  text-align: justify;
  word-spacing: -2px;
  margin-bottom: 2.1rem;
}
.section-about-us__content--social-media-icons {
  display: flex;
  flex-direction: row;
  margin-left: 0.1rem;
  margin-top: 0.4rem;
}
.section-about-us__content--social-media-icons img {
  cursor: pointer;
  margin-right: 0.8rem;
}
.section-contact {
  background-color: #f06c64;
  height: 51.6rem;
  color: #f0d8d9;
  padding: 7.1rem 4rem 6.1rem 4rem;
  border-bottom: #ea676b solid 0.6rem;
}
.section-contact__content {
  display: flex;
}
.section-contact__heading-secondary {
  margin: 0;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.786rem;
}
.section-contact__paragraph {
  font-size: 1.8rem;
  text-align: justify;
  font-weight: 100;
  word-spacing: -1.6px;
  line-height: 3rem;
  margin-top: 2.7rem;
  margin-bottom: 4.2rem;
}
.section-contact__form {
  width: 61.9rem;
}
.section-contact__form-content {
  width: 100%;
}
.section-contact__form-content--button {
  background-color: #f0d8d9;
  color: #d6564f;
  border: none;
  padding: 1.5rem 2.5rem;
  border-radius: 100px;
  cursor: pointer;
}
.section-contact__form--input {
  background-color: #d6564f;
  color: #ffffff;
  width: 58.9rem;
  height: 3.8rem;
  border-radius: 5px;
  border: none;
  margin-bottom: 1.6rem;
  padding: 0 1.5rem;
  outline: none;
}
.section-contact__form--input:nth-child(4) {
  height: 3.8rem;
  padding: 0 1.5rem 16.4rem 1.5rem;
  word-break: break-all;
}
.section-contact__form--input::placeholder {
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  line-height: 2.156rem;
  font-weight: normal;
  color: #f48c8f;
  margin-left: 3rem;
}
.section-contact__form--input:invalid {
  color: #f48c8f;
}
.section-contact__aside {
  padding: 0 2rem;
  width: 30.04rem;
}
.section-contact__aside--heading {
  font-size: 1.8rem;
  margin: 0;
  font-weight: 900;
  line-height: 1.786rem;
  margin-top: 0.3rem;
}
.section-contact__aside--contact-information {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 6rem;
}
.section-contact__aside--image {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90%;
  margin-right: 1rem;
}
.section-contact__aside--text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  align-content: center;
}
.section-contact__aside--paragraph {
  font-size: 1.2rem;
  text-align: justify;
  line-height: 2.156rem;
  width: 30.04rem;
  font-weight: normal;
  word-spacing: -1px;
  word-break: break-all;
}
#section-contact__aside--main-paragraph {
  margin-bottom: 2.5rem;
  margin-top: 0.9rem;
}
.section-contact-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 30rem;
  width: 30rem;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 3rem rgba(0,0,0,0.5);
  border-radius: 5px;
}
.section-contact-popup__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-contact-popup__span {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
}
.section-contact-popup__button {
  background-color: #f0d8d9;
  color: #d6564f;
  border: none;
  padding: 1.5rem 2.5rem;
  border-radius: 100px;
  cursor: pointer;
  transition: all .2s;
}
.section-contact-popup__button:hover {
  transform: translateY(-3px);
}
.section-contact-popup--hidden {
  display: none;
}
.footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  height: 7.6rem;
  background-color: #2d303a;
}
.footer__copyright {
  font-size: 1.2rem;
  line-height: 2.156rem;
  color: #666d89;
  margin-left: 4.1rem;
  word-spacing: -1px;
}
.footer__social-media-icons {
  margin-right: 4rem;
  margin-top: 0.5rem;
}
.footer__social-media-icons--icon {
  margin-left: 0.4rem;

}
.footer__social-media-icons--icon:hover {
  cursor: pointer;
}
.link,
.link:link,
.link:visited {
  text-decoration: none;
  color: #f0d8d9;
}
#header__heading--mobile {
  display: none;
  z-index: 100000;
  position: fixed;
  top: 1.25rem;
  left: 7.1rem;
  color: #ffffff;
}
@media only screen and (max-width: 1020px) {
  html {
    overflow-x: hidden;
  }
  body {
    overflow-x: hidden;
  }
  .header {
    width: 76.8rem;
  }
  .header-navigation {
    margin-right: 4rem;
  }
  .section-slider {
    height: 44.725rem;
    padding-top: 3.5rem;
  }
  #section-slider__vertical-phone--housing {
    height: 34.426rem;
    width: 16.236rem;
    top: 5rem;
    left: 11rem;
  }
  #section-slider__vertical-phone--screen {
    height: 24rem;
    width: 12.75rem;
    top: 9.5rem;
    left: 11.949rem;
  }
  #section-slider__horizontal-phone--housing {
    height: 16.236rem;
    width: 34.426rem;
    top: 15.5rem;
    right: 8.141rem;
  }
  #section-slider__horizontal-phone--screen {
    height: 12.75rem;
    width: 23.8rem;
    top: 16.425rem;
    right: 14.5rem;
  }
  #section-slider__slide-2 img {
    height: 44.838rem;
  }
  .section-slider__arrows {
    width: 76.8rem;
  }
  .section-slider__arrow--left {
    left: 3rem;
  }
  .section-slider__arrow--right {
    right: 3rem;
  }
  .section-our-services {
    height: 65rem;
  }
  .section-our-services__content {
    flex-direction: row;
  }
  .section-our-services__content--row {
    flex-direction: column;
  }
  .section-portfolio {
    height: 109.44rem;
  }
  .section-portfolio__content {
    flex-direction: row;
    justify-content: center;
  }
  .section-portfolio__content--row {
    flex-direction: column;
  }
  .section-portfolio__content--row-3 .section-portfolio__content--element {
    margin-right: 0;
  }
  .section-about-us__content--element {
    width: 21.894rem;
  }
  .section-about-us__content--image {
    height: 21.894rem;
    width: 21.894rem;
  }
  .section-contact {
    height: 62.521rem;
  }
  .section-contact__form {
    width: 47.2rem;
  }
  .section-contact__form--input {
    width: 44.2rem;
  }
  .section-contact__aside--paragraph {
    width: 18.5rem;
  }
  .section-our-services__content--element--2 {
    margin-left: 0;
  }
  .section-our-services__content--element--3 {
    margin-left: 0;
  }
  .section-our-services__content--element--4 {
    margin-left: 0;
  }
  .section-our-services__content--element--5 {
    margin-left: 0;
  }
  .section-our-services__content--paragraph--1 {
    width: 220px;
  }
  .section-our-services__content--paragraph--2 {
    width: 220px;
  }
  .section-our-services__content--paragraph--3 {
    width: 220px;
  }
  .section-our-services__content--paragraph--4 {
    width: 220px;
  }
}
@media only screen and (max-width: 767px) {
  html {
    overflow-x: hidden;
  }
  body {
    overflow-x: hidden;
  }
  .header {
    justify-content: center;
    width: 37.5rem;
    height: 7.1rem;
  }
  .header__heading {
    margin-left: 0;
    margin-top: 2rem;
  }
  .header-navigation {
    display: none;
  }

  .navigation {
    position: fixed;
    z-index: 100000;
    top: 1rem;
    left: 1rem;
  }
  .navigation__checkbox {
    display: none;
  }

  .navigation__button {
    z-index: 2000;
    text-align: center;
    cursor: pointer;
  }

  .navigation__background {
    height: 100%;
    width: 6rem;
    position: fixed;
    top: 0;
    left: -6rem;
    background-color: #2d303a;
    z-index: 1000;
    transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
  }

  .navigation__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    display: none;
    opacity: 0;
    width: 100%;
    transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }
  @keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
  }
  .navigation__list {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 28rem;
  }

  .navigation__item {
    margin: 1rem;
  }

  .navigation__link:link, .navigation__link:visited {
    display: block;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .4s;
  }
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: green;
    transform: translateX(1rem);
  }
  .navigation__link--active:link, .navigation__link--active:visited {
    color: #f06c64;
  }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scaleX(10);
  }

  .navigation__icon {
    position: relative;
  }
  .navigation__icon,
  .navigation__icon::before,
  .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: gray;
    display: inline-block;
    z-index: 2000;
    top: 1rem;
    left: 2rem;
  }

  .navigation__icon::before,
  .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s;
  }

  .navigation__icon::before {
    top: -.8rem;
  }
  .navigation__icon::after {
    top: .8rem;
  }

  .navigation__button:hover .navigation__icon::before {
    top: -1rem;
  }

  .navigation__button:hover .navigation__icon::after {
    top: 1rem;
  }

  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent;
  }

  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    display: inline-block;
  }
  .navigation__checkbox:checked ~ #header__heading--mobile {
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    display: inline-block;
  }
  .section-slider {
    height: 21.838rem;
    padding-top: 7.7rem;
  }
  .section-slider__arrows {
    width: 37.5rem;
  }
  .section-slider__arrow--left {
    top: -1.174rem;
    left: 1rem;
  }
  .section-slider__arrow--right {
    top: -1.174rem;
    right: 1rem;
  }
  #section-slider__vertical-phone--housing {
    height: 16.81rem;
    width: 7.928rem;
    top: 2rem;
    left: 5.118rem;
  }
  #section-slider__vertical-phone--screen {
    height: 11.7rem;
    width: 6.312rem;
    top: 4.2rem;
    left: 5.5rem;
  }
  #section-slider__horizontal-phone--housing {
    height: 7.928rem;
    width: 16.81rem;
    top: 6.497rem;
    right: 5.141rem;
  }
  #section-slider__horizontal-phone--screen {
    height: 6.312rem;
    width: 11.7rem;
    top: 6.9rem;
    right: 8.2rem;
  }
  #section-slider__slide-2 img {
    height: 21.838rem;
  }
  .section-our-services {
    height: 114.913rem;
    padding: 4rem 3rem;
  }
  .section-our-services__heading {
    margin-top: 4.5rem;
    margin-bottom: 2rem;
  }
  .section-our-services__content {
    flex-direction: column;
  }
  .section-our-services__content--column--2 {
    margin-left: 0;
  }
  .section-portfolio {
    height: 84.4rem;
    padding: 4.2rem 3rem;
  }
  .section-portfolio__heading {
    margin-top: 4.5rem;
  }
  .section-portfolio__content {
    flex-direction: row;
    justify-content: center;
  }
  .section-portfolio__content--row {
    flex-direction: column;
  }
  .section-portfolio__content--row--2 .section-portfolio__content--element {
    margin-right: 0;
  }
  .section-portfolio__content--row .section-portfolio__content--element:last-child {
    margin-bottom: 0;
  }
  .section-portfolio__content--row-3 {
    display: none;
  }
  .section-portfolio__content--element {
    height: 12.8rem;
    width: 15.1rem;
    margin-right: 1.4rem;
    margin-bottom: 1.4rem;
  }
  .section-about-us {
    height: 177.5rem;
    padding: 5rem 3rem;
  }
  .section-about-us__content {
    flex-direction: column;
  }
  .section-about-us__heading {
    margin-top: 4.5rem;
  }
  .section-about-us__content--element {
    width: 31.4rem;
  }
  .section-about-us__content--image {
    height: 31.4rem;
    width: 31.4rem;
  }
  .section-about-us__content--social-media-icons {
    margin-bottom: 1.5rem;
  }
  .section-contact {
    padding: 4.4rem 3rem 6.1rem 3rem;
    height: 96.9rem;
    box-sizing: border-box;
  }
  .section-contact__heading-secondary {
    margin-top: 4.5rem;
  }
  .section-contact__form {
    width: 31.5rem;
  }
  .section-contact__form--input {
    width: 31.5rem;
    box-sizing: border-box;
  }
  .section-contact__content {
    flex-direction: column;
    align-items: center;
  }
  .section-contact__paragraph {
    margin-bottom: 1.9rem;
  }
  .section-contact__form--input:nth-child(4) {
    height: 15.9rem;
    padding: 0 1.5rem 11.9rem 1.5rem;
    word-break: break-all;
  }
  .section-contact__form-content--button {
    padding: 1.5rem 13.5rem;
    margin-bottom: 3.2rem;
  }
  .section-contact__aside {
    padding: 0;
  }
  .section-contact__aside--paragraph {
    width: 30.5rem;
  }
  .footer {
    justify-content: center;
  }
  .footer__copyright {
    display: none;
  }
  .footer__social-media-icons {
    margin: 0;
  }
  .section-our-services__content--element--2 {
    margin-left: 0;
  }
  .section-our-services__content--element--3 {
    margin-left: 0;
  }
  .section-our-services__content--element--4 {
    margin-left: 0;
  }
  .section-our-services__content--element--5 {
    margin-left: 0;
  }
  .section-our-services__content--paragraph--1 {
    width: 100%;
  }
  .section-our-services__content--paragraph--2 {
    width: 100%;
  }
  .section-our-services__content--paragraph--3 {
    width: 100%;
  }
  .section-our-services__content--paragraph--4 {
    width: 100%;
  }
}
@media only screen and (max-width: 374px) {
  .header__heading {
    margin-left: -4rem;
  }
  .section-our-services {
    height: 121.913rem;
  }
  .section-slider__arrows {
    width: 32rem;
  }
  .section-portfolio__content--element {
    height: 9.8rem;
    width: 12.1rem;
  }
  .section-portfolio {
    height: 75.4rem;
  }
  .section-about-us__content--element {
    width: 26.4rem;
  }
  .section-about-us__content--image {
    height: 25.4rem;
    width: 26.4rem;
  }
  .section-contact__form {
    width: 26.5rem;
  }
  .section-contact__form--input {
    width: 26.5rem;
  }
  .section-contact__form-content--button {
    padding: 1.5rem 11.5rem;
  }
  .section-contact {
    height: 102.9rem;
  }
  .section-contact__aside {
    width: 26.5rem;
  }
  .section-contact__aside--paragraph {
    width: 26.5rem;
  }
}
